<!-- Right menu -->
<ion-side-menu side="right">
  <div class="wrapper m-t-lg">
    <h3>LinkedIn Apps</h3>
    <p class="b-b b-light">Expand your collections</p>
    <div class="list b-b">
      <a class="item item-icon-left" href="#">
        <i class="icon ion-search calm"></i>
        <h2>Job search</h2>
        <p>Find a job you love</p>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-social-youtube-outline calm"></i>
        <h2>LinkedIn Learning</h2>
        <p>Gain new skill</p>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-clipboard calm"></i>
        <h2>Lookup</h2>
        <p>Find your coworkers</p>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-albums calm"></i>
        <h2>Slideshare</h2>
        <p>Master new topics</p>
      </a>
    </div>

    <div>
      Unlock the power of LinkedIn
      <div class="text-sm calm">Try Premium for free</div>
    </div>
  </div>
</ion-side-menu>
